* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.conteiner {
    width: 500px;
    height: 300px;
    background-color: #005490;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

div > hr {
    width: 90%;
}

.count {
    border: 1px double white;
    padding: 5px 10px;
    font-size: 2rem;
    color: white;
}

.characterInput {
    width: 90%;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
}